:root {
  --background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  --font-family: Arial, Helvetica, sans-serif;
  --color: rgb(59, 33, 23);
}

header {
  background-color: #3b1212;
  text-align: center;
  padding: 2rem 0;
  font-size: xx-large;
  color: #fff;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

body {
  background-color: rgb(6, 6, 83);
  font-family: var(--font-family) Arial, Helvetica, sans-serif;
  color: coral;
}

footer {
  background-color: #3b1212;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

dt a {
  color: rgb(255, 251, 249);
  font-weight: 20px;
  font-size: x-large;
}
