<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600&family=Caveat&display=swap" rel="stylesheet">

    <link
      rel="shortcut icon"
      href="../favicon.ico-generator/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../templates/css/styles.css" />

    <title>Templates</title>
  </head>
  <header>
    <h1>Page 2</h1>
    <nav>
      <button>
        <a href="../../templates/index.html">Home</a>
        <a href="../sub-pages/page1.html">Page #1</a>
        <a href="#">Page #2</a>
        </a>
        </button>
    </nav>

  </header>
  <body>
    <main>
    <div class="container"></div>
    <h2>Lorem Ipsum</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime
      rerum non fuga officia dolor labore, voluptatem ex error aspernatur
      adipisci a odio velit, consequuntur veniam fugiat. Tempora, quo
      recusandae.
    </p>

    <figure>
        <img src="../images/sun.jpg" alt="Photo of the midday sun">
        <figcaption>Photo of the midday sun</figcaption>
      </figure>
    </div>
    </main>
    <aside>These photos were taken during the time that the Canadian wildfires were occurring causing some of the filtering affects seen in these photos.</aside>
  </body>

 <footer>
    <p>&copy;2023 Rebecca Johnson</p>
    <br>
    <aside>
      <a href="#Top" style="color:coral">Back to Top</a>
    </aside> 
  </footer>

</html>
